################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs

/SampleApp/SampleApp/bin
/SampleApp/SampleApp/obj
/SampleApp/SampleApp.Droid/bin
/SampleApp/SampleApp.Droid/obj
/SampleApp/SampleApp.iOS/bin
/SampleApp/SampleApp.iOS/obj
/SampleApp/SampleApp.UWP/bin
/SampleApp/SampleApp.UWP/obj
/SampleApp/SampleApp.Windows/bin
/SampleApp/SampleApp.Windows/obj
/SampleApp/SampleApp.WinPhone/bin
/SampleApp/SampleApp.WinPhone/obj
/SampleApp/SampleApp.MacOS/bin
/SampleApp/SampleApp.MacOS/obj

/WebViewPlugin/WebView.Plugin.Abstractions/bin
/WebViewPlugin/WebView.Plugin.Abstractions/obj
/WebViewPlugin/WebView.Plugin.Droid/bin
/WebViewPlugin/WebView.Plugin.Droid/obj
/WebViewPlugin/WebView.Plugin.iOS/bin
/WebViewPlugin/WebView.Plugin.iOS/obj
/WebViewPlugin/WebView.Plugin.UWP/bin
/WebViewPlugin/WebView.Plugin.UWP/obj
/WebViewPlugin/WebView.Plugin.Windows/bin
/WebViewPlugin/WebView.Plugin.Windows/obj
/WebViewPlugin/WebView.Plugin.WinPhone/bin
/WebViewPlugin/WebView.Plugin.WinPhone/obj

/Xam.Plugin.WebView.Abstractions/bin
/Xam.Plugin.WebView.Abstractions/obj
/Xam.Plugin.WebView.UWP/bin
/Xam.Plugin.WebView.UWP/obj
/Xam.Plugin.WebView.Droid/bin
/Xam.Plugin.WebView.Droid/obj
/Xam.Plugin.WebView.iOS/bin
/Xam.Plugin.WebView.iOS/obj
/Xam.Plugin.WebView.MacOS/bin
/Xam.Plugin.WebView.MacOS/obj

/UpgradeLog.htm
/WebViewPlugin/WebView.Plugin.WindowsPhone/bin/Release
/WebViewPlugin/WebView.Plugin.WindowsPhone/obj
/WebViewPlugin/WebView.Plugin.WindowsStore/bin
/WebViewPlugin/WebView.Plugin.WindowsStore/obj

SampleApp\.userprefs

SampleApp/SampleApp\.MacOS/\.DS_Store
*.vspscc
.mfractor/
